/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  border: 1px solid #b3b3b3;
  color: #999;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 742px;

  margin: 20px; /* NOTE: Temporary */
}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  color: #1c1c1c;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
  font-size: 11px;
  padding: 24px 18px;
}

header h1 {
  border-bottom: 2px solid #e9e9e9;
  margin: 0 0 9px;
  padding: 2px 0 8px;
}

header img + div {
  margin-left: 82px;
}

header img {
  float: left;
  margin-right: 18px;
}

header .tagline {
  float: left;
}

#share-app {
  float: right;
  width: 318px;
}

#share-app ul {
  float: right;
}

#share-app p {
  float: left;
}

#share-app li {
  float: left;
  list-style: none;
  margin-left: 8px;
}
/* ------------------------------------------ */

/* =buttons
--------------------------------------------- */
.facebook-button:link, .facebook-button:visited {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: linear-gradient(top, #fdfdfd, #eaebeb);
  border: 1px solid #a9a9a9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #4f4f4f;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.facebook-button span {
  background: url("../images/sprites.png") no-repeat;
  padding: 0 7px 0 21px;
}

.facebook-button .speech-bubble {
  background-position: 6px 3px;
}

.facebook-button .plus {
  background-position: 6px -17px;
}

.button:link, .button:visited {
  background-color: #7a90c0;
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  color: #1d222c;
  display: inline-block;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 32px;
  padding: 0 40px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
}
/* ------------------------------------------ */

/* =get started
--------------------------------------------- */
#get-started {
  background: url("../images/get-started-bg.jpg");
  height: 105px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .29);
  padding: 32px 0 0;
}

#get-started p {
  color: #fff;
  font-family: "CorbelRegular";
  font-size: 24px;
  height: 23px;
  margin-bottom: 24px;
}

#get-started p span {
  font-family: "HybreaRegular";
  font-size: 22px;
}
/* ------------------------------------------ */

/* =guides/samples spacing
--------------------------------------------- */
#guides h1,
#samples h1 {
  margin-bottom: 15px;
}

#guides, #samples {
  padding: 20px 10px 20px 14px;
}

#guides ul li,
#samples .list {
  float: left;
  margin-right: 9px;
  width: 170px;
}

#guides ul li p,
#samples ul {
  padding: 0 4px;
}
/* ------------------------------------------ */

/* =guides
--------------------------------------------- */
#guides ul li {
  font-size: 11px;
  list-style: none;
}

#guides ul li p {
  line-height: 20px;
}

#guides ul li:first-child {
  margin-left: 0;
}

#guides ul li a.icon {
  background: url("../images/sprites.png") no-repeat;
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  padding-top: 124px;
  text-align: center;
}

#guides ul li a.websites {
  background-position: 35px -87px;
}

#guides ul li a.mobile-apps {
  background-position: 35px -231px;
}

#guides ul li a.apps-on-facebook {
  background-position: 35px -375px;
}

#guides ul li a.heroku {
  background-position: 35px -519px;
}
/* ------------------------------------------ */

/* =samples
--------------------------------------------- */
#samples {
  background-image: url("../images/samples-bg.png");
  /*
   * original
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 1.5%, rgba(0, 0, 0, 0) 100%), url("../images/samples-bg.png");
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .25)), color-stop(1.5%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))), url("../images/samples-bg.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 1.5%, rgba(0, 0, 0, 0) 100%), url("../images/samples-bg.png");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 1.5%, rgba(0, 0, 0, 0) 100%), url("../images/samples-bg.png");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 1.5%, rgba(0, 0, 0, 0) 100%), url("../images/samples-bg.png");
  background-image: linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 1.5%, rgba(0, 0, 0, 0) 100%), url("../images/samples-bg.png");
  */

  /* concept */
  border-bottom: 1px solid #ccc;
  -moz-box-shadow: 0 0 13px rgba(0, 0, 0, .2) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2) inset;
}

#samples h3 {
  background: url("../images/header-sketch.png") no-repeat;
  color: #646464;
  font-weight: bold;
  font-size: 11px;
  line-height: 29px;
  text-align: center;
}

#samples ul {
  background-repeat: repeat-y;
  height: 198px;
  overflow: hidden;
  padding-top: 8px;
}

#samples ul#photos,
#samples ul#friends {
  background: none;
}

#samples li {
  background-repeat: no-repeat;
  background-position: top left;
  color: #7c7c7c;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 11px;
  padding-left: 36px;
}

#samples ul#friends li {
  padding-left: 54px;
  line-height: 50px;
}

#samples ul#things li {
  padding-left: 12px;
  line-height: 18px;
  white-space:nowrap;
}

#samples ul#photos li {
  margin-left: 0;
  height: 82px;
}

#samples .inline ul {
  background-repeat: repeat;
}
#samples .inline li {
  float: left;
  height: 32px;
  margin-left: 12px;
  overflow: hidden;
  padding: 0;
}

/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
